/******************整体布局*******************************/
#top{ width: 100%; height: 24px; border-bottom: 1px solid rgb(205, 212, 220);}
#topMain{ border:1px solid #ccc; width: 960px; height: 27px; margin: 0 auto;}
#header{ border:1px solid #ccc; width: 960px; height: 144px; margin: 0 auto}
#main{ width: 960px; height: auto; margin: 0 auto;}
.main1,.main2,.main3,.main4,.main5,.main6,.main7{ border:1px solid #ccc; width: 100%; margin-top: 8px;}
.main1{ height: 392px;}
.main2,.main7{ height: 90px;}
.main3{ height: 682px;}
.main4{ height: 480px;}
.main5{ height: 368px;}
#foot{ width: 960px; height: 81px; *height: 98px; padding: 8px 0; margin: 0 auto; margin-top: 16px; border-top: 1px solid rgb(222, 239, 250);}
/******************整体布局 end*******************************/

/********************top*****************************/
.topLeft1{ width: 225px; height: 19px; *height: 24px; float: left; padding-top: 5px;}
.topLeft1 li{ width: auto; height: 15px; padding: 0 10px; float: left; border-left: 1px solid rgb(201, 229, 247);}
.topLeft1 a{ line-height: 15px; color: rgb(51,51,51);}
/***********************top end**************************/

/*********************head****************************/
/*********************head end****************************/
/*********************main1****************************/
/*********************main1 end****************************/
/*********************main2****************************/
/*********************main2 end****************************/
/*********************main3****************************/
/*********************main3 end****************************/
/*********************main4****************************/
/*********************main4 end****************************/
/*********************main5****************************/
/*********************main5 end****************************/
/*********************main6****************************/
/*********************main6 end****************************/
/*********************main7****************************/
/*********************main7 end****************************/
/*********************foot****************************/
/*********************foot end****************************/













