*{margin: 0; padding: 0;}
body{ width: 99%; text-align: center; font-size: 12px; font-family: 宋体,Arial;}
img{ border: 0px; }
ul,li{ list-style: none; list-style-position: outside; }

/******************主要框架******************/
#topnav{ width:100%; height: 28px;  position: fixed; background-image: url("images/qqbg_1.5.5.png"); border-bottom: 1px solid rgb(235,235,235);}
#soso{ width:1000px; height: 48px; padding:50px 0 21px 0; margin: 0px auto;}
#mainnav{ width: 987px; height: 51px; padding: 9px 0px 0 8px; margin: 0 auto; background-image:url("images/qqbg_1.5.5.png"); ; background-position: 0 -35px;}

#layoutPic{ width: 998px; height: 190px; margin: 12px auto 0 auto; border: 1px solid rgb(210, 225, 241);} /*注意边框保留*/
#mvdiv{ width: 1000px; height: 90px; margin:12px auto 0 auto; }
#footer{ width: 100%; height: 88px; padding-top: 12px;}
.footerNew{ width: 1000px; height: 70px; margin: 12px auto 0 auto; text-align: center; padding-left: 35px;}
/******************主要框架 end ******************/

/******************普通栏目共有******************/
.lmCommon{ width:1000px;  margin:12px auto 0 auto; }
.lmCommonLeft{ width: 660px;  float: left;  }
.lmCommonRight{ width: 320px;  float: right;}
.lmCommonLL{ width: 320px;  float: left;}
.lmCommonLR{ width: 320px;  float: right;}

/******************普通栏目共有end******************/

/******************页眉******************/
#topNavInner{ width: 1000px; height: 28px; margin:auto;}
#topNavLeft{ width: 342px; height: 28px; float: left;}
#topNavRight{ width: 192px; height: 28px; float: right;}
.TopNav{ font-size: 12px; font-family: 宋体,Arial; color: #666; line-height: 28px; }
.TopA{ text-decoration: none; }
.TopA:hover{ color: #333; }
#newMoblie{ background-image: url("images/icobg_1.4.png"); padding: 0 0 0 12px; }
#newMoblie:hover{ background-position:0 -30px;  }
.TopImg{ width: 30px; height: 28px; background-image: url("images/loginall_1.4.png"); display: block; float: right;}
.TopBatton{ width:70px; height: 28px; background-image: url("images/loginall_1.4.png"); background-position:0 -450px; display: block; float: right;}
.TopBatton:hover{ background-position: 0 -500px;}
#orderBook{ background-position: 0 -550px;}
#orderBook:hover{ background-position: -68px -550px;}
#email{ background-position: 0 -150px; }
#email:hover{ background-position: -70px -150px; }
#qqSpace{ background-position: 0 -100px;}
#qqSpace:hover{ background-position: -70px -100px;}
#weiBo{ background-position: 0 -50px;}
#weiBo:hover{ background-position: -70px -50px;}
/******************页眉end******************/

/******************搜索区******************/
#sosoLogo{ width: 134px; height: 44px; margin: 0 0 0 176px; background-image: url("images/qqlogo_1x.png"); float: left;}
#sosoTar{ width: 489px; height: 34px; padding: 7px 0 0 29px; float: left; float: left;}
#searchs{ position: relative; width: 385px; height: 30px; border: 2px solid rgb(211,211,211); border-right: 0px; line-height: 30px; float: left;  }

#searchSelect{ width: 48px; *width: 60px; height: 30px; cursor: pointer; padding: 0 10 0 5px; font-size: 14px; font-weight: 700; color: rgb(168,168,168); float: left; background-image: url("images/qqbg_1.5.5.png"); background-position: -877px -200px;}
#searchSelect:hover{ background-position: -552px -200px;}

#searchSelectUL{ width: 58px; height: 224px; z-index: 3;  display: none; position: absolute; left: -2px; top: 30px; background-color: #fff; border: 2px solid rgb(50,151,216); border-top: 0px;}
#searchSelectUL li{ width: 58px; height: 28px; cursor: pointer; font-size: 14px; font-weight: 700; color: rgb(168,168,168);}
#searchSelectUL li:hover{ background-color: #d2e1f1; color:rgb(50,151,216); }
.searchText{ width:226px; height: 22px; padding: 4px 4px 4px 0; border: 0px; margin-top: 4px; float: left;}
.searchText:focus,.searchText:hover{ border: 0px;}
#sosoLogoImg{ width: 50px; height: 14px; float: right; margin-top: 8px; margin-right: 5px; }
#button{ width: 74px; height: 34px; padding: 0 0 0 6px; background-image: url("images/qqbg_1.5.5.png"); background-position: -350px -110px; float: left;}
/******************搜索区 end******************/

/******************主导航区******************/
#mainInner{ width: 987px; height: 51px; }
.main{  width: 156px; *width:170px; height: 22px; float: left; padding: 0 6px 0 7px;}
.mainSpecial{  width: 130px; height: 22px; padding: 0 0 0 5px; }
.mainA{ width: 24px; *width: 26px; height: 13px; color: #fff; margin: 0 4px 0 4px; padding: 3px; *padding: 3px 0 3px 0; font-size: 12px; font-family: 宋体,Arial; text-decoration: none; display: block; float: left;}
.mainA:hover{ background-color: rgb(202,225,238) ; color: rgb(13,81,256);}
.mainASpecial{  width: 26px; *width: 30px; font-weight: bold; }
.mainAMore{ width: 36px; }
.mainANBA{ font-family: Tahoma;}
/******************主导航区 end******************/

/******************栏目1******************/
#lm1{ height:75px; }
#lm1Left{ height: 75px;  }
#lm1Right{ height: 75px;  }

/******************栏目1 end******************/

/******************栏目2******************/
#lm2{height: 1244px; }
#lm2Left{ height: 1244px; }
#lm2Right{ height: 1244px;}
.lmCommonLL_Left{ width:320px; height: 263px; float: left;}
.lmCommonLL_Right{ width:320px; height: 263px; float: right; }

#lm2LL1{ width:660px;  height: 589px; margin-bottom: 12px; }
#lm2LL2{ width: 660px; height: 263px; margin-bottom: 12px; }
#lm2LL4{ width: 660px; height: 266px; margin-bottom: 12px; }

#lm2LL1L{ height: 589px; float: left; }
#lm2LL1R{ height: 589px; float: right;}
#lm2LL2L{ width: 330px; height: 263px; float: left;}
#lm2LL2R{ width: 330px; height: 263px; float: right;}
#lm2Center{ width: 660px; height:90px;  margin-bottom: 12px; }
#lm2LL4L{ width: 330px; height: 266px;  float: left; }
#lm2LL4R{ width: 330px; height: 266px; float: right;}

.lmTitle{ height: 32px; background-image: url("images/qqbg_1.5.5.png"); background-position: 0 -160px;}
.lm2LL1Left{ height: 544px;}
#lm2LL1Right1{ height:202px; }
#lm2LL1Right2{ height: 364px; }
.lmTitle1{ width: 320px; height: 32px; text-align: left; line-height: 32px; background-image: url("images/qqbg_1.5.5.png"); background-position: 0 -160px;}
.lmTitle1Special{ width: 330px;}
.lm2LL1Right1Content{ height: 152px; }
.lm2LL1Right2Content{ height: 332px; }
#lm2MovieVideo{ width: 292px; height: 98px; padding: 12px 14px 11px 14px; }
#lm2MovieContent{ width: 320px; height: 208px; padding: 3px 0 0 0; }
.lm2MovieVideo{ width: 130px; height: 98px;}
.lm2MovieVideo1{ float: left;}
.lm2MovieVideo2{ float: right;}
.lm2MovieVideo_video{ width: 130px; height: 79px;}
.lm2MovieVideo_videoA{ text-decoration: none; color: #333; margin-top: 4px;}
.lm2MovieVideo_videoA:hover{ text-decoration: underline; color: red; }

.lm2LL2Title{ height: 29px; *height: 32px; line-height: 29px; border-top: 2px solid rgb(50,151,216); border-bottom: 1px solid rgb(50,151,216);}
.lm2LL2LContent{ width: 320px; height: 219px; padding-top:8px;}
#lm2MovieContent ul,.lm2LL2LContentB ul{ width: 320px; height: 26px; }
#lm2MovieContent li,.lm2LL2LContentB li,.lm2Content{ width: 306px; height: 26px; text-align: left; font-size: 14px; background-image: url("images/icobg_1.4.png"); background-repeat: no-repeat; line-height: 26px; }  
#lm2MovieContent li{background-position: 0 -269px;  padding:0 0 0 23px;}
.lm2LL2LContentB li,.lm2Content{ background-position: 0 -389px; padding: 0 0 0 10px;}
#lm2MovieContent a,.lm2LL2LContentB a,.lm2ContentA{ text-decoration: none; color: #2D374B; }
#lm2MovieContent a:hover,.lm2LL2LContentB a:hover,.lm2ContentA:hover{ text-decoration: underline; color: red; }
#lm2MovieContent span,.lm2LL2LContentB span { color: #aaa;}
#lmTitle1Left{ width: 172px; height: 32px; float: left;}
.currentContent{ font-weight: bold; background-image: url("images/vH2Select.png"); border-top: 2px solid rgb(69, 143, 206); border-left: 1px solid rgb(189, 215, 242); border-right: 1px solid rgb(189, 215, 242); border-bottom: 0px;}
.currentContentS{ background-image: none; border: 0px;}
.notCurrentContent,.currentContent{ width: 84px; height: 30px; text-align: center; float: left; font-size: 14px; color:rgb(69, 143, 206);  text-decoration: none;}
.currentContent:hover,.notCurrentContent:hover,.lm2ContentAS:hover{ text-decoration: underline; }
.notCurrentContent:hover{ font-weight: bold; background-image: url("images/vH2Select.png"); border-top: 2px solid rgb(69, 143, 206); border-left: 1px solid rgb(189, 215, 242); border-right: 1px solid rgb(189, 215, 242); border-bottom: 0px; }

.lm2ContentUl{ width: 320px;  margin-top: 8px;}
#ul1{ height: 156px; }
#ul2{ height: 183px; }
#ul3{ height: 182px;}
#ulR1{ height: 152px; margin-top: 8px;}
.lm2ContentSpecial{color: rgb(59, 99, 159); font-weight: 700; }
.lm2ContentSpecial a{ text-decoration: none;}
.lm2ContentSpecial a:hover{ text-decoration: underline;}
#lm2ContentSpecialR{ text-decoration: center;}
.lm2ContentUlR{ background-image: none;}
.lm2ContentR{width: 306px; height: 26px; text-align: left; font-size: 14px; line-height: 26px;}
.lm2ContentSpecialR{color: rgb(59, 99, 159); font-weight: 700; text-align: center; } 
.lm2ContentAS{ text-decoration: none; color: rgb(69, 143, 206);}
#ulR1 li{ padding-left: 10px;}
.lm2ContentR span{ font-size: 12px; color: #888;}

#lmTitle1Right{ width:84px; height: 22px; padding: 4px 8px 2px 2px;  float: right; line-height: 22px; display: block;}
.lm2Weather{ color:rgb(102, 102, 102); font-size: 12px; float: left; text-decoration: none; display: block; }
.lm2WeatherPic{ background-image: url("images/drizzle.png"); background-repeat: no-repeat; width: 32px; height: 16px; display: block; float: left;background-position: 7px 0px;}

.Lm2Money{ width: 220px; height: 16px; line-height: 16px; margin-top: 8px; float: left; }
h2{ width: 30px; height: 15px;  text-align: left; color:rgb(69, 143, 206); text-align: center;  float: left; font-size: 14px; }
h2 a{ color:rgb(69, 143, 206); text-decoration: none;}
h2 a:hover{ text-decoration: underline; cursor: pointer;}

#lm2LL2TitleR{width: 146px; height: 21px; float: right;}
#lm2Button{ width: 35px; height: 21px; margin-top: 4px; display: block; background-image:url("images/qqbg_1.5.5.png"); background-position: -600px -160px; float: left;}
#lm2Text{ font-size: 12px; width: 103px; height: 21px; margin-top: 4px; border: 1px solid rgb(212, 212, 212); border-right: 0px; color:rgb(180, 179, 179); padding: 0 0 0 4px; float: left; }
#lm2LL2TitleMobile{ width: 72px; height: 14px; margin:7px 6px 0 0; display: block; float: right; line-height: 14px; color:rgb(69, 143, 206); text-decoration: none;}
#lm2LL2TitleMobile:hover{ text-decoration: underline;}

#lm2LRight2Content1{ margin:8px 0 0 6px; width: 320px; height: 23px; }
#lm2LRight2Content1 a{width: 47px; height: 22px; line-height: 22px; color:rgb(69, 143, 206); display: block; float:left; text-decoration: none;}
#lm2LRight2Content1 span{width: 1px; height: 22px; line-height: 22px; display: block; float:left; font-size: 14px; color:#888;}
#lm2LRight2Content1 a:hover{ background-color:rgb(69, 143, 206); color: #fff;  }
.lm2LRight2Content2{ width: 305px; height: 70px;}
.lm2LRight2Content2Pic{  width: 170px; height: 68px; float: left; background-image: url("images/DJI.png"); border:1px solid #D2E0EF;; display: block;}
.lm2LRight2Content2Dec{ width: 40px; height: 70px; padding-top: 6px; text-align: left; float: left; margin: 3px 0 0 8px; }
.zhiShuMing{ width: 100px; }
.zhiShuMing a{font-size: 12px; color:rgb(55, 69, 98); text-decoration: none; }
.zhiShuMing a:hover{ text-decoration: underline; color: red;}
.zhiShuShu{ width: 100px; color: rgb(65, 169, 141); font-size: 24px; font-weight: 700; font-family: Tahoma;}
.zhiShuRange{ width: 100px; color: rgb(65,169,141); font-family: Tahoma; }
.lm2ContentARS{ color: #3B639F;}  
.lm2ContentARS:hover{ color: #3B639F;} 
#lm2CenterMeterial{ width: 660px; height: 90px; display: block;}
.lm2LL4Rpic{ width: 130px; height: 75px; float: left; display: block;}
.lm2LRight4Content2{ width: 305px; height: 8px; margin-top: 8px;}
.lm2LRight2Content3{ width: 305px; height: 111px; margin-top: 8px; border-top:1px solid #fff;}
.lm2LRight2Content3UL{ width: 305px; height: 111px; }
.kakapic{ float: left; display: block; width: 130px; height: 75px;}
.kaka{ width: 155px; height: 70px; float: left; text-align: left; padding:8px 0 0 6px;}
.commonPic{ width: 130px; height: 75px;}
.kakaTitle{   font-weight: 700; font-size: 14px;  }  
.kakaTitle a{ line-height: 26px; color: rgb(69, 143, 206); text-decoration: none;}
.kakaTitle a:hover{ text-decoration: underline;}
.kakaContent{color: #8C8C8C; width: 157px; height: 44px; line-height: 18px;}
.kakaContent a{ color: rgb(69, 143, 206); }
.kakaContent a:hover{ color: red; text-decoration: underline;}

#jiangsuNewsContent{ display: none;}
#lm2MovieTVC{ display: none;}
/*********栏目2 right**********/
#rightArea1{ position: relative; width: 318px; height: 199px; border:1px solid rgb(210, 225, 241); background-image: url("images/productNavBg1.2.png"); background-repeat: no-repeat; background-position: 288px 0; }
#rightArea2{ width: 320px; height: 180px; margin-top: 12px;}
#rightArea3{ width: 318px; height: 837px; margin-top: 12px; border:1px solid rgb(210, 225, 241);}
.bgBlue{ background-color: #F5F8FC;}
.lm2RLine1{ width: 278px; height: 24px; *width: 288px; padding: 12px 0 0 10px;  *line-height: 24px; }
.lm2RLine2{ width: 278px; height: 24px; *width: 288px; padding: 11px 0 0 10px; *line-height: 24px;}
.lm2RLine3{ width: 278px; height: 26px; *width: 288px; padding: 11px 0 0 10px; *line-height: 26px;}
.lm2RLine4{ width: 278px; height: 50px; *width: 288px; padding: 5px 0 0 10px; line-height: 22px; *line-height: 25px;}
.lm2RLine5{ height: 278px; height: 25px; *width: 288px; padding: 10px 0 0 10px; *line-height: 25px;}
.bgWrite{ background-color: #fff;}
#lm2RLineULO{ text-align: left;}
#rightArea1 a{ padding-right: 3px; color:rgb(45, 55, 75); text-decoration: none; font-family: Tahoma,"宋体"; text-align: right; line-height: 12px;}
#rightArea1 a:hover{ color: red; text-decoration: underline;}
.lm2RLine1R{ width: 330px;}
.lm2RLine2R{ width: 330px; }
.lm2RLine3R{ width: 330px; }
.lm2RLine4R{ width: 330px; }
.lm2RLine5R{ width: 330px; }

#rightArea1R{ width: 14px; height: 37px; left: -14px; top:-1px; position: absolute;}
#rightArea1R a{ width: 100%; height: 100%; display: block; background-repeat: no-repeat; background-image: url("images//productNavBg1.4.png"); background-position: -86px 0px;}
#rightArea1R a:hover{ background-position: -86px -79px;}
#lm2RLineULC{ display: none; width: 339px; height: 199px; left: -340px; top:-1px; position: absolute;  z-index: 99; border:1px solid rgb(210, 225, 241); border-right: 1px solid #fff; }

#peopleLove{ position: relative; width: 318px; height: 39px; background-image: url("images/qqbg_1.5.5.png"); background-position: 0 -110px;}
/*.peopleLoveR{ width: 54px; height: 39px; line-height: 39px; float:right; padding-top: 12px;}
.peopleLoveRA1{ width: 12px; height: 12px; margin-right: 17px; display: block; float: left; background-image: url("images/qqbg_1.5.5.png"); background-position: 0 -260px;}
.peopleLoveRA1:hover{ background-position: -29px -260px;}
.peopleLoveRA2{ width: 14px; height: 12px; display: block; float: left; background-image: url("images/qqbg_1.5.5.png"); background-position: -59px -259px;}
.peopleLoveRA2:hover{ background-position:-89px -259px; }*/
.peopleLoveRA1{ width: 12px; height: 12px; display: block;  position: absolute; top:12px; left: 264px;  background-image: url("images/qqbg_1.5.5.png"); background-color: red; background-position: 0 -260px;}
.peopleLoveRA1:hover{ background-position: -29px -260px;}
.peopleLoveRA2{ width: 14px; height: 12px; display: block; position: absolute; top:11px; left: 293px; background-image: url("images/qqbg_1.5.5.png"); background-position: -59px -259px;}
.peopleLoveRA2:hover{ background-position:-89px -259px;}
#rightArea3Contents{ width: 318px; height: 787px; text-align: left;}
#rightArea3Content1{width: 100%; height: 264px;}
#rightArea3Content2{width:100%;height:264px;}
#rightArea3Content3{width:100%;height:264px;}

.rightArea3Content11{ width: 318px; height: 21px; position: relative; }
.rightArea3Content11 span{ position: absolute; left: 10px; width: 60px; height: 20px; line-height: 20px; background-image: url("images/qqbg_1.5.5.png"); background-position: -800px -110px; float: left;}
.Square1{ position: absolute; left: -4px; top: 6px; width: 7px; height: 8px; background-image:url("images/qqbg_1.5.5.png"); background-position: -800px -210px; }

.rightArea3Content111 span{ background-position: -900px -110px;}
.square2{ background-position: -800px -230px;}

.rightArea3Content12{ width: 295px; height: 230px; margin-left: 12px; }
.rightArea3C12Title{ text-align: left; font-size: 14px; line-height: 28px; color: rgb(102, 102, 102); text-decoration: none;}
.rightArea3C12Title:hover{ color: red; text-decoration: underline;}
.rightArea3C12Content{ width: 288px; height: 60px; margin:5px 0;}
.rightArea3C12ContentA1{ display: block; width:90px; height:60px; float: left; }
.rightArea3C12ContentA2{ display: block; width:186px; height:60px; float: right; line-height: 20px; font-size: 12px; color: rgb(102, 102, 102); text-decoration: none;}
.rightArea3C12ContentA2:hover{ text-decoration: underline; }

.rightArea3C12Foot{ width: 310px; height: 20px;}
.rightArea3C12FootA{ width: 150px; height: 20px; line-height: 20px; float: left;}
.rightArea3C12FootD{ width: 100px; height: 20px; float: right;}
.rightArea3C12Foot a{ color: rgb(102, 102, 102); text-decoration: none;}
.rightArea3C12FootD a:hover{ font-size: 12px; color: red; text-decoration: underline;}
.rightArea3ContentMoren{ display: none; }
.rightArea3ContentCurrent{ display: block;}

/*********栏目2 right end******/
/******************栏目2 end******************/

/******************栏目3 ******************/
#lm3{ height:256px; }
#lm3Left{ height: 256px; }
#lm3Right{ height: 256px; border:1px solid rgb(210, 225, 241); } 
#lm3LL{ height: 256px; }
#lm3LR{  height: 256px; }
.lm2LL2Title3L{ width: 340px;}
/******************栏目3 end******************/

/******************栏目4 ******************/
#lm4{ height:90px; }
#lm4Left{ height: 90px; }
#lm4Right{ height: 90px; }
/******************栏目4 end******************/

/******************栏目5 end 科技、数码******************/
#lm5{ height:335px; }
#lm5Left{ height: 333px; }
#lm5Right{ height: 333px; border:1px solid rgb(210, 225, 241); }
#lm5LL{height: 333px; }
#lm5LR{height: 333px; }
/******************栏目5 end******************/

/******************栏目6 ******************/
#lm6{ height:333px; }
#lm6Left{ height: 331px; }
#lm6Right{ height: 331px; border:1px solid rgb(210, 225, 241);}
#lm6LL{height: 331px; }
#lm6LR{height: 331px; }
/******************栏目6 end******************/

/******************栏目7 ******************/
#lm7{ height:180px; }
#lm7Left{ height: 180px; }
#lm7Right{ height: 180px; }
.lm7LTitle{ width: 660px; height: 31px; border-bottom: 1px solid rgb(222, 234, 248); background-image: url("images/qqbg_1.5.5.png"); background-position: 50% -397px; background-repeat: no-repeat;}
.lm7LTitleMoRen{ width: 67px; height: 30px; line-height: 30px; font-size: 14px; color:rgb(69, 143, 206); text-decoration: none; border:1px solid rgb(222, 234, 248); border-bottom: 1px solid #fff; display: block; float: left;}
.lm7LTitleMoRen:hover{ text-decoration: underline;}
.lm7LTitleL2{ border: 0px; background-image: url("images/icobg_1.4.png"); background-position: 100% -362px;}

.lm7LTitleR a{ width: 144px; *width: 155px; height: 30px; line-height: 30px; padding-right: 11px; margin-right: 11px; float: right;  color: rgb(45, 55, 75); text-decoration: none;}
.lm7LTitleR a:hover{ color:red; text-decoration: underline;}

.lm7LContent{ width: 660px; height: 130px;}
.lm7ContentUl{ width: 320px; height: 128px; padding-top: 8px; float: left;}
.lm7ContentLi a{ color:rgb(45, 55, 75); text-decoration: none; }
.lm7ContentLi a:hover{ color:red; text-decoration: underline; }
.lm7ContentUl2{ margin-left: 20px;}

#examC{ display: none;}
/******************栏目7 end******************/

/******************栏目8 ******************/
#lm8{ height:332px; }
#lm8Left{ height: 332px; }
#lm8Right{ height: 332px; border:1px solid rgb(210, 225, 241); }
#lm8LL{height: 332px； }
#lm8LR{height: 332px; }
/******************栏目8 end******************/

/******************栏目9 ******************/
#lm9{ height:330px; }
#lm9Left{ height: 330px; }
#lm9Right{ height: 330px; border:1px solid rgb(210, 225, 241); }
#lm9LL{height: 330px;  }
#lm9LR{height: 330px;  }

#lm9RightTitle{ width: 318px; height: 80px; background-image: url("images/T1jP_OXlReXXc2sMna-6-80.gif"); background-repeat: repeat-x;}
#lm9RightContent{ width: 318px;height: 250px;}
#lm9RightTitle1{ width: 80px; height: 80px; float: left;}
#lm9RightTitle2{ width: 225px; height: 80px; float: right; text-align:left; }
#lm9RightTitle2 a{ color: rgb(45, 55, 75); text-decoration: none; line-height: 38px; }

.lm9RightContentD{ width: 59px; height: 248px;}
#lm9RightContent1{ float: left; }
.lm9RightContent1Ul{ width: 59px; height: 31px; line-height: 31px; background-image: url("images/1328595636476.gif"); background-repeat: repeat-x;}
.lm9RightContent1Ul a{ color: rgb(102, 102, 102); text-decoration: none;}
#lm9RightContent2{ width: 200px; height: 250px;  float: left;}
#lm9RightContent3{ float: right;}
/*.lm9RightContent1UlSpecial{ background-image:url("images/T1X7YOXmReXXchKLPa-6-31.gif"); color: #fff;}*/
#lm9TCPicA2{ display: none;}
#lm9TCPicA3{ display: none;}
#lm9TCPicA4{ display: none;}
#lm9TCPicA5{ display: none;}
#lm9TCPicA6{ display: none;}
#lm9TCPicA7{ display: none;}
#lm9TCPicA8{ display: none;}
#lm9TCPicA9{ display: none;}
#lm9TCPicA10{ display: none;}
#lm9TCPicA11{ display: none;}
#lm9TCPicA12{ display: none;}
#lm9TCPicA13{ display: none;}
#lm9TCPicA14{ display: none;}
#lm9TCPicA15{ display: none;}
#lm9TCPicA16{ display: none;}
/******************栏目9 end******************/

/******************栏目10 ******************/
#lm10{ height:283px; }
#lm10Left{ height: 283px; }
#lm10Right{ height: 283px; border:1px solid rgb(210, 225, 241); }
#lm10LL{height: 283px; }
#lm10LR{height: 283px; }
/******************栏目10 end******************/

/******************栏目11 ******************/
#lm11{ height:230px; }
#lm11Left{ height: 230px; }
#lm11Right{ height: 230px; border:1px solid rgb(210, 225, 241); }
#lm11LL{height: 230px;}
#lm11LR{height: 230px; }
/******************栏目11 end******************/

/******************图片集******************/
#layoutPicTitle{ width: 988px; height: 31px; background-color: rgb(246, 249, 254); text-align: left; line-height: 31px; padding-left: 10px;}
#layoutPicTitle a{ font-size: 14px; color: rgb(69, 143, 206); font-weight: bold;  text-decoration: none;}
#layoutPicTitle a:hover{ text-decoration: underline;}
#layoutPicContent{ width: 998px; height: 159px;}
.layoutPicContentC{ width: 22px; height:159px;  position: relative;}
#layoutPicContent1{ float: left;}
#layoutPicContent3{ float: right;}
#layoutPicContent2{ width: 952px; height: 139px; padding-top: 20px; float: left;}
.layoutPicContentL{ width: 11px; height: 20px;  background-image: url("images/qqbg_1.5.5.png"); background-position: -800px -160px; position: absolute; left: 11px; top: 69px; }
.layoutPicContentR{ width: 11px; height: 20px;  background-image: url("images/qqbg_1.5.5.png"); background-position: -850px -160px; position: absolute; left: 0px; top: 69px; }

#layoutPicContent2 li{ width: 160px; height: 128px; padding:0 14px 0 14px; float: left;}
#layoutPicContent2 img{ width: 160px; height: 100px;}
.layoutPicContent2A{ color: rgb(45, 55, 75); text-decoration: none;}
.layoutPicContent2A:hover{ color: red; text-decoration: underline;}
/******************图片集 end******************/

/******************footer ******************/
#footer a,#footer span,.fonterNewContent2{ color:#515151; text-decoration: none; line-height: 24px; font-family: 宋体,Arial; }
#footer a:hover,.fonterNewContent2:hover{ color:#BD0A01; text-decoration: underline; }
/******************footer end******************/

/******************footerNew ******************/
.fonterNewContent{ width: 120px; height: 50px; float: left; border:1px solid rgb(210, 210, 210); margin: 6px;}
.fonterNewContent1{ width: 36px; height: 42px; padding: 3px; display: block; float: left;}
.fonterNewContent2{ width: 60px;  *width: 68px;height: 33px; padding: 5px 9px 0 9px; *padding: 5px 0 0 6px; line-height: 20px; display: block; float: left;}
.fonterNewContent7{ border: 0px; width: 128px; height: 50px;}
/******************footerNew end******************/

.lm2LL2LContentSpace{ padding-left: 10px;}
#hengZhiC,#daoZhiC{ display: none;}
